{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <form class="form" method="post" action="login">
        {% csrf_token %}
        <h1>Log In</h1>
        {% for message in messages %}
        <h5>{{message}} </h5>
        {% endfor %}
        <label for = "username">Username : </label>
        <input type="text" name="username" required>
        <label for ="password">Password : </label>
        <input type="password" name="password" required><br><br>
        <input type="submit" id="btn" value="Log In"> <br>
        <a href="register">&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp; Create an Account &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</a>
    </form>
</body>
</html>